h1 {
  color: goldenrod;
  font-family: "Pacifico", cursive;
}

h2 {
  text-decoration: underline;
  color: goldenrod;
  font-family: "Pacifico", cursive;
  text-align: center;
}

h3 {
  text-decoration: underline;
  color: goldenrod;
  font-family: "Pacifico", cursive;
}

h4 {
  text-decoration: underline;
  color: goldenrod;
  font-family: "Pacifico", cursive;
}

body {
  margin: 8px;
  display: block;
  background-color: rgb(68, 1, 131);
  font-size: large;
}

img {
  width: 550px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

footer {
  color: goldenrod;
}
p {
  text-align: left;
  margin-left: 10px;
  width: 600px;
  color: aliceblue;
}

#testP {
  font-size: 20px;
  border: 2px solid black;
}

.funParagraph {
  color: green;
  font-size: 18px;
  font-style: italic;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.article-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#mainHeading {
  color: red;
  font-size: 50px;
  border: 2px solid goldenrod;
  text-align: center;
}
